<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aspose.cloud.appdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aspose.cloud.sdk.appdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aspose.cloud.sdk.appdemo.ClassActivity" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.FuncActivity" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.BrowseFileActivity" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.Settings" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.barcode_demo.BarcodeBuilderSave1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.barcode_demo.BarcodeBuilderSave2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.barcode_demo.BarcodeReaderRead1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.barcode_demo.BarcodeReaderRead2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.barcode_demo.BarcodeReaderReadFromLocalImage3" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract3" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract4" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract5" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtract6" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.ocr_demo.OcrExtractorExtractTextFromUrl7" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderCreateFolder" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderDeleteFile" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderDeleteFolder" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderFileExist" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderGetDiscUsage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderGetFile" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderGetFilesList" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.storage_demo.StorageFolderUploadFile" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentDeleteDocumentProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetAllTextItems" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetAllTextItems2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetDocumentProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetDocumentPropertiesCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetDocumentProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentGetSlideCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentRemoveAllProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentReplaceText" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentReplaceText2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentSaveAs" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentSaveSlideAs" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentSaveSlideAs2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesDocumentSetDocumentProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesExtractorGetImageCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesExtractorGetImageCount2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesExtractorGetPresentationImages" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesExtractorGetShapes" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.slides_demo.SlidesExtractorGetShapesCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordConverterConvert1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordConverterConvert2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordConverterConvertLocalFile1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordConverterConvertLocalFile2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentAppendDocument" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentDeleteProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentGetDocumentInfo" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentGetProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentGetProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordDocumentSetProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorConvertDrawingObject" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorGetDrawingObject" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorGetDrawingObjects" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorGetOleData" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorGetImageData" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordExtractorGetText" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordFieldGetMailMergeFieldNames" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordFieldInsertPageNumber" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordMailMergeExecuteMailMerege" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordMailMergeExecuteMailMeregeWithRegions" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.words_demo.WordMailMergeExecuteTemplate" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorDownloadAttachment" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAllAnnotations" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAllAttachments" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAllBookmarks" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAllLinks" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAnnotation" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAnnotationsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAttachment" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetAttachmentsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetBookmark" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetBookmarksCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetChildBookmark" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetChildBookmarksCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetLink" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorGetLinksCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfAnnotationEditorIsChildBookmark" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfConverterConvert" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfConverterConvertLocalFile1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfConverterConvertLocalFile2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfConverterGetImage1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfConverterGetImage2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfExtractorGetImage1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfExtractorGetImage2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfExtractorGetImageCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetFragmentCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetSegmentCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetText1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetText2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetTextFormat1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetTextFormat2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetTextItems1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetTextItems2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorGetTextItems3" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorReplaceText1" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfTextEditorReplaceText2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentAddNewPage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentAppendDocument" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentAppendDocument2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentCreateEmptyPdf" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentCreateFromHtml" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentCreateFromXml" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentDeletePage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetDocumentProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetDocumentProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetFormField" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetFormFieldCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetFormFields" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentGetPageCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentMergeDocuments" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentMovePage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentRemoveAllProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentReplaceImageUsingFile" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentReplaceImageUsingStream" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.pdf_demo.PdfDocumentSetDocumentProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsChartEditorAddChart" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsChartEditorDeleteChart" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsChartEditorGetBorder" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsChartEditorGetChartArea" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsChartEditorGetFillFormat" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterAutoShapeToImage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterChartToImage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterConvertLocalFile" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterOleObjectToImage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterPictureToImage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterSave" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsConverterWorksheetToImage" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorGetTextItems" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorGetTextItems2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorFindText" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorFindText2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorReplaceText" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsTextEditorReplaceText2" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookAddWorksheet" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookClearModifyPassword" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookCreateEmptyWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookCreateWorkbookFromSmartMarkerTemplate" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookCreateWorkbookFromTemplate" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookDecrpytWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookEncryptWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookGetDefaultStyle" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookGetNamesCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookGetProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookGetProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookGetWorksheetsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookMergeWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookProcessSmartMarker" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookProtectWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookRemoveAllProperties" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookRemoveProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookRemoveWorksheet" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookSetModifyPassword" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookSetProperty" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorkbookUnprotectWorkbook" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetCalculateFormula" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetDeleteRow" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetAutoShapeByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetAutoShapesCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetCell" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetCellsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetCellsList" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetCellStyle" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetChartByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetChartsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetColumn" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetColumnsList" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetComment" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetCommentsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetHyperLinkByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetHyperlinksCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetMaxColumn" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetMaxRow" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetMergedCellByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetMergedCellsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetOleObjectByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetOleObjectsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetPictureByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetPicturesCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetRow" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetRowsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetRowsList" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetValidationByIndex" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetGetValidationsCount" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetHideWorksheet" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetMoveWorksheet" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetSetCellStyle" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetSetCellValue" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetSortData" />
        <activity android:name="com.aspose.cloud.sdk.appdemo.cells_demo.CellsWorksheetUnhideWorksheet" />
    </application>

</manifest>